
#gallery{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    list-style: none;
    
}

#name-input{
    margin-top: 30px;
}
/* Задание 6 */
#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border: 4px solid #4caf50;
    outline: none;
  }
  
  #validation-input.invalid {
    border: 4px solid #f44336;
  }

  /* Задание 7 */
  #font-size-control{
    display: flex;
    margin-top: 20px;
  }